

.markDownDefault
{
    color: white;
    font-family: Roboto Slab;
    font-size: 20px;
    max-width: 95%;
}

.markDownList {
    color: white;
    font-family: Roboto Slab;
    font-size: 18px;
    max-width: 95%;
  }